nav {
    height: 5vh;

    .startButton {
        margin-bottom: 10px;
    }
}

.board {
    height: 95vh;
    width: 100vw;
    overflow: hidden;

    .matrixRow {
        display: flex;
        height: 30px;
      
        .matrixCell {
          width: 30px;
          height: 30px;
          border: 1px solid black;
      
          .aliveCell {
            background-color: yellowgreen;
            height: 100%;
            width: 100%;
          }
      
          .deadCell {
            background-color: transparent;
            height: 100%;
            width: 100%;
          }
        }
      }
      
}